<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PARKING_ConnectionString"
        connectionString="Data Source=sql07-8-eng.corp.parking.ru;Initial Catalog=yourtown_20;User ID=yourtown_20;Password=[6[b!Lpc-^"
        providerName="System.Data.SqlClient" />
    <add name="LOCAL_ConnectionString"
        connectionString="Data Source=GEORGEDZHGA4367\SQLEXPRESS;Initial Catalog=test_ilawuk;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>